/* @import url(..\Resources\brooke-cagle-g1Kr4Ozfoac-unsplash.jpg); */
@use './variables' as *;

.home__ {
  &container {
    background: linear-gradient(to right, $secondary-blue, hsla(0,0,0,0)), url('../Resources/heroHome.jpg') center;

   /* background-image: url("../Resources/heroHome.jpg"); */
   height: (100%);
  }

  &gradient {
 /*    background: linear-gradient(to right, $secondary-blue, hsla(0,0,0,0)); */
    height: 80%;
    width: 100vw;
  }

  &header {
    color: $primary-white;
  }

  &sub-header {
    color: $secondary-gray;
  }

  &text-content {
    padding: 25vh 0;
    padding-left: $margin-left-desktop;
  }

  &btn {
    padding-left: 15vw;
  }

}