/* @import url(..\Resources\brooke-cagle-g1Kr4Ozfoac-unsplash.jpg); */
@use './variables' as *;

.home__ {
  &container {
    height: 100%;
  }

  &gradient {
    background: linear-gradient(to right, $secondary-blue, hsla(0,0,0,0));
    width: 100%;
    padding-bottom: 30vh;
  }

  &header {
    color: $primary-white;
  }

  &sub-header {
    color: $secondary-gray;
  }

  &text-content {
    padding: 25vh 0;
    padding-left: $margin-left-desktop;
  }

  &btn#cta {
    padding-left: $margin-left-desktop + 10vw;
    margin-bottom: auto;
  }

}