@use './variables' as v;

*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: v.$text-size;
  font-family: v.$font-family;
  font-weight: v.$text-weight;
}

h1 {
  font-size: v.$header-size;
  font-weight: v.$bold;
  color: v.$primary-white;
}

h2 {
  font-size: v.$sub-header-size;
  font-weight: v.$semi-bold;
  color: v.$secondary-gray;
}

a.link {
  color: v.$accent-yellow;
  font: inherit;
  font-weight: v.$semi-bold;
  text-decoration: none;
}

p {
  color: v.$secondary-gray
}
